@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 16px; /* Base font size */
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 12px 16px;
  }
}

img {
  max-width: 100%;
  height: auto; /* Escalar proporcionalmente */
}

.adjusted-image {
  max-width: 150px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .adjusted-image {
    max-width: 100px;
  }
}

/* Modal adjustments */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Solución para alinear checkboxes y texto */
.checkbox-container {
  display: flex;
  align-items: center; /* Alinear verticalmente checkbox y texto */
  gap: 0.5rem; /* Espaciado entre el checkbox y el texto */
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  vertical-align: middle; /* Asegura el checkbox alineado */
  width: 1.4rem; /* Tamaño del checkbox */
  height: 1.3rem; /* Tamaño del checkbox */
}

.checkbox-container label {
  font-size: 1.5rem; /* Ajusta según sea necesario */
  line-height: 1.5; /* Alineación con el checkbox */
}

/* Estilo para textos persuasivos */
.persuasive-text {
  font-size: 2.5rem; /* Tamaño por defecto */
  line-height: 1.4;
}

.persuasive-subtext {
  font-size: 1.5rem; /* Tamaño por defecto */
  line-height: 1.3;
}

/* Adaptaciones para móviles */
@media (max-width: 768px) {
  .persuasive-text {
    font-size: 1.6rem; /* Más grande en móviles */
    line-height: 1.2;
  }

  .persuasive-subtext {
    font-size: 1.3rem; /* Subtítulo también más grande */
    line-height: 1.2;
  }
}
